.tweetsContainer {
   width: 700px;
   overflow: scroll;
   background: var(--primary-darker);
   height: 100vh;
   padding-left: 40px;
   padding-right: 40px;
}

.tweetsList {
   padding-top: 40px;
   position: relative;
}

.tweetsList:before {
   content: '';
   width: 2px;
   height: 100%;
   background: #c7cacb;
   position: absolute;
   left: 32px;
   top: 0;
}

.tweetsList:after {
   content: '';
   position: absolute;
   background: #c7cacb;
   bottom: 0;
   left: 27px;
   width: 7px;
   height: 7px;
   border: 3px solid #dee1e3;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   border-radius: 50%;
}

.tweetsList li {
   margin-bottom: 15px;
   display: block;
   position: relative;
}

.tweetsList li:after {
   content: '';
   display: block;
   clear: both;
   height: 0;
   width: 0;
}

.tweetsList .avatar {
   width: 65px;
   height: 65px;
   position: relative;
   z-index: 99;
   float: left;
   border: 3px solid #FFF;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
   -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
   box-shadow: 0 1px 2px rgba(0,0,0,0.2);
   overflow: hidden;
}

.tweetsList .avatar img {
   width: 100%;
   height: 100%;
}

.avatar {
   width: 50px;
   height: 50px;
}

.tweetMainLevel:after {
   content: '';
   width: 0;
   height: 0;
   display: block;
   clear: both;
}

.tweetsList .tweetBox {
   width: 400px;
   float: right;
   position: relative;
   -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
   -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
   box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.tweetsList .tweetBox:before, .tweetsList .tweetBox:after {
   content: '';
   height: 0;
   width: 0;
   position: absolute;
   display: block;
   border-width: 10px 12px 10px 0;
   border-style: solid;
   border-color: transparent #FCFCFC;
   top: 8px;
   left: -11px;
}

.tweetsList .tweetBox:before {
   border-width: 11px 13px 11px 0;
   border-color: transparent rgba(0,0,0,0.05);
   left: -12px;
}

.tweetBox {
   width: 610px;
}

.tweetBox .tweetHead {
   background: #FCFCFC;
   padding: 10px 12px;
   border-bottom: 1px solid #E5E5E5;
   overflow: hidden;
   -webkit-border-radius: 4px 4px 0 0;
   -moz-border-radius: 4px 4px 0 0;
   border-radius: 4px 4px 0 0;
}
.tweetBox .tweetName {
   font-size: 14px;
   font-weight: 700;
   float: left;
   margin-right: 10px;
}

.tweetBox .tweetHead {
   float: left;
   position: relative;
   top: 1px;
}

.tweetBox .tweetContent {
   background: #FFF;
   padding: 12px;
   font-size: 15px;
}

@media only screen and (max-width: 766px) {
   .tweetsContainer {
       width: 480px;
   }
   .tweetsList .tweetBox {
       width: 390px;
   }
}